/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.cdnfonts.com/css/ulagadi-sans');
@import url('https://fonts.cdnfonts.com/css/inter');

/*=============== VARIABLES CSS ===============*/
:root{

    /*========== Colors ==========*/
    --text-color: rgb(15, 41, 22);
    --text-color-light: white;
    --body-color: white;
    --green-light: #41634b;
    --line-one: #9DBFA7;
    --body-color-dark: rgb(15, 41, 22);
    --container-color: white;
    --scroll-bar-color:  white;
    --scroll-thumb-color: rgb(15, 41, 22);
    --gray : #dae4ec;
    --gray-transparan: #dae4ec42;
    --line-color: #eef1f5;
    

    /*========== Font and typography ==========*/
    --heading-font: "Barlow", sans-serif;;
    --paragraph-font: "Montserrat", sans-serif;
}