//desktop frist
.gallery {
    padding: 5rem 20px 0rem 20px !important;
    margin-bottom: 70px;
    height: max-content;

    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 6rem;

        .gallerycontentCard {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            height: 100%;
            padding-bottom: 6rem;
            border-bottom: 1px solid black;

            .glc-left {
                width: 30%;
                position: sticky;
                top: 70px;
                align-self: flex-start;

                h1 {
                    line-height: 98%;
                    font-size: 4rem;
                }
            }

            .glc-right {
                width: 70%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 4rem;

                img {
                    width: 100%;
                    height: 500px;
                    aspect-ratio: 16/9;
                    object-fit: cover;
                }
            }
        }
    }
}

@media (max-width: 960px){
    .gallery {
        padding: 5rem 10px 0rem 10px !important;
        display: flex;
        align-items: center;
        justify-content: center;

        &__wrapper {
            width: 100dvw;
            gap: 2rem;

            .gallerycontentCard {
                width: 100%;
                height: max-content;
                flex-direction: column;
                align-items: center;
                gap: 2rem;
                padding-bottom: 2rem;

                .glc-left {
                    text-align: center;
                    position: static;
                    width: 100%;

                    h1 {
                        font-weight: 400;
                        font-size: 3.5rem;
                    }
                }

                .glc-right{
                    width: 100%;

                    img {
                        border-radius: 5px;
                        height: 500px;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 678px){
    .gallery {
        padding: 5rem 10px 0rem 10px !important;
        display: flex;
        align-items: center;
        justify-content: center;

        &__wrapper {
            width: 100dvw;
            gap: 2rem;

            .gallerycontentCard {
                width: 100%;
                height: max-content;
                flex-direction: column;
                align-items: center;
                gap: 2rem;
                padding-bottom: 2rem;

                .glc-left {
                    text-align: center;
                    position: static;
                    width: 100%;

                    h1 {
                        font-weight: 400;
                        font-size: 3rem;
                    }
                }

                .glc-right{
                    width: 100%;

                    img {
                        border-radius: 5px;
                        height: 250px;
                        width: 100%;
                    }
                }
            }
        }
    }
}