.footer {
  height: 100dvh;
  width: 100%;
  padding: 7rem 3rem 2rem 3rem;
  background-color: var(--body-color-dark);
  color: white;
  overflow-x: hidden;

  .desktop__footer {
      flex-direction: row;
      height: 100%;
  }

  &__left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      width: 40%;

      h2 {
          font-size: 70px;
          font-weight: 500;
          letter-spacing: -.04em;
          line-height: 70px;
          color: white !important;
      }

      .profil-deskription {
          display: flex;
          flex-direction: column;
          gap: 14px;
          max-width: 315px;

          .footer__logo {
              display: flex;
              align-items: center;
              gap: 5px;
              font-size: 22px;
          }

          .logo-caption {
              font-size: 8.44px;
              line-height: 15.3px;
              color: var(--gray);
              letter-spacing: -.015em;
              opacity: .8;
              text-transform: uppercase;
          }
      }
  }

  &__right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      width: 60%;
      padding-top: 1.2rem;

      .footer-right-top {
          display: flex;
          justify-content: space-between;
          gap: 20px;
          align-items: start;
          width: 70%;
          font-size: .9rem;

          .footer-nav-wrapper {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: .5rem;

            .footer-nav-head {
              color: #ffffff5e;
              font-weight: 600;
            }
          }
      }

      .footer-nav-items:hover {
        transition: .5s ease-in-out;
      }

      .footer-nav-items:hover {
        color: #ffffff5e;
      }

      .footer-right-bottom {
        width: 500px;
        .footer-nav-info {
          display: flex;
          gap: 1rem;
          align-items: center;
          font-size: .9rem;

          span {
            width: 1px;
            height: 75px;
            background-color: white;
          }
        }
      }
  }
}

.footer__containermobile {
  display: none;
}

@media (max-width:678px) {

  .desktop__footer {
    display: none;
  }
  
  footer {
    padding: 5rem 10px 1rem 10px !important;
    height: auto !important;
    width: 100dvw !important;
    margin-top: 3.4375rem;

    .footer__containermobile {
      display: grid;
      width: 100%;
      grid-template-rows: auto;

      .footer-mobile-one {
        padding: 1rem 0;
        border-bottom: 1px solid #ffffff5e;

        .footer__logo {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 22px;
        }
      }

      .footer-mobile-two {
        display: flex;
        gap: 9rem;
        padding: 1rem 0;
        align-items: flex-start;
        border-bottom: 1px solid #ffffff5e;

        .footer-nav-wrapper  {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 1rem;
        }
      }

      .footer-mobile-three {
        padding: 3rem 0 12rem 0;
        border-bottom: 1px solid #ffffff5e;
        position: relative;

        .h2-wrapper {
          width: 100%; /* Sesuaikan dengan container */
          overflow-x: hidden; /* Potong teks di luar area */
          position: absolute;
          top: 0;
          left: 0;

          h2 {
            font-weight: 500;
            font-size: 10rem;
            display: inline-block; /* Pastikan elemen bisa bergerak */
            white-space: nowrap; /* Mencegah teks turun ke baris berikutnya */
            overflow: hidden;
            text-wrap: nowrap;
            color: white;
            text-transform: uppercase;
            animation: scrollText 10s linear infinite; /* Animasi bergerak */
            
          }
        }
      }
      .footer-mobile-four {
        padding: 1rem 0;
        border-bottom: 1px solid #ffffff5e;

        .footer-navmobile-social {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            .footer-navmobile-list {
              display: flex;
              gap: 1rem;
            }
        }
      }
      .footer-mobile-five {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .scrolltop{
          display: flex;
          align-items: center;
          gap: 1rem;

          p {
            font-weight: 600;
            font-size: 1rem;
          }
        }
      }
    }
  }

  .footer-nav-head {
    font-weight: 600;
    color: #ffffff5e;
  }
}

@media (max-width:960px) {

  .footer-right-bottom {
    width: 350px !important;

    .footer-nav-info {
      display: flex;
      gap: 1rem;
      align-items: center;
      font-size: .75rem !important;

      span {
        width: 10px;
        height: 75px;
        background-color: white;
      }
    }
  } 
}