.sub-title {
    padding: .4375rem .5rem;
    background-color: var(--gray);
    border-radius: .145rem;
    font-size: .7125rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 400;
    opacity: 0.8686;
    color: var(--green-light);
    margin-bottom: 1.25rem !important;
  }